<div>
  <lg-page-header [action]="pageHeaderAction"></lg-page-header>

  <nz-table
    [nzLoading]="fetchingData"
    nzBordered
    nzSize="small"
    nzShowSizeChanger
    nzPaginationType="small"
    #basicTable
    [nzData]="departments"
    (nzPageSizeChange)="handlePageSizeChange($event)"
    (nzPageIndexChange)="handlePageIndexChange($event)"
  >
    <thead>
      <tr>
        <th
          [nzChecked]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>Tên phòng ban</th>
        <th>Mô tả</th>
        <th>Nhân viên</th>
        <th>Phòng ban con</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td
          [nzChecked]="setOfCheckedId.has(data.id)"
          (nzCheckedChange)="onItemChecked(data.id, $event)"
        ></td>
        <td>{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.staffs.length }}</td>
        <td>{{ data.child.length }}</td>
        <td>
          <a>Action</a>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #pageHeaderAction>
    <nz-space>
      <button
        *nzSpaceItem
        nz-button
        [disabled]="!setOfCheckedId.size"
        (click)="handleDeleteClick()"
      >
        Xoá {{ setOfCheckedId.size ? setOfCheckedId.size : "" }} phòng ban
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        (click)="handleAddDepartmentClick()"
      >
        Thêm phòng ban
      </button>
    </nz-space>
  </ng-template>

  <ng-template #footerDepartmentDrawer>
    <div style="float: right">
      <nz-space>
        <button
          *nzSpaceItem
          nz-button
          nzSize="large"
          (click)="deparmentDrawer.close()"
        >
          Cancel
        </button>
        <button
          *nzSpaceItem
          nz-button
          nzSize="large"
          nzType="primary"
          (click)="handleAddDepartment()"
        >
          Submit
        </button>
      </nz-space>
    </div>
  </ng-template>
</div>
