<button
  class="h-[48px] flex gap-2 items-center py-1 px-3"
  nz-button
  nzType="text"
  nz-dropdown
  [nzDropdownMenu]="menu"
  nzPlacement="bottomRight"
>
  <nz-avatar
    [nzShape]="'square'"
    [nzSize]="'large'"
    [nzIcon]="'user'"
  ></nz-avatar>
  Tạ Hoàng Long (longth.dev@gmail.com)
  <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>1st menu item</li>
    <li nz-menu-item>2nd menu item</li>
    <li nz-menu-item>3rd menu item</li>
    <hr />
    <li class="px-4 py-2">
      <button class="w-full" nz-button nzDanger (click)="handleSignOut()">
        Đăng xuất
      </button>
    </li>
  </ul>
</nz-dropdown-menu>
