<button
  class="h-[48px] flex gap-2 items-center py-1 px-3 font-medium"
  nz-button
  nzType="text"
  nz-dropdown
  [nzDropdownMenu]="menu"
  nzPlacement="bottomRight"
>
  <nz-avatar
    [nzShape]="'square'"
    [nzSize]="'large'"
    [nzIcon]="'user'"
  ></nz-avatar>
  {{ profile?.displayName }}
  <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul class="min-w-[300px]" nz-menu nzSelectable>
    <li class="flex gap-3 px-3 py-2 items-start justify-start">
      <nz-avatar
        [nzShape]="'square'"
        [nzSize]="64"
        [nzIcon]="'user'"
      ></nz-avatar>
      <div>
        <div class="text-base font-medium">{{ profile?.displayName }}</div>
        <div>{{ profile?.email }}</div>
        <div>{{ profile?.phoneNumber }}</div>
      </div>
    </li>
    <hr />
    <li nz-menu-item>
      <a routerLink="/profile">Cập nhật thông tin cá nhân</a>
    </li>
    <li nz-menu-item>2nd menu item</li>
    <li nz-menu-item>3rd menu item</li>
    <hr />
    <li class="px-4 py-2">
      <button class="w-full" nz-button nzDanger (click)="handleSignOut()">
        Đăng xuất
      </button>
    </li>
  </ul>
</nz-dropdown-menu>
